<form class="form-horizontal">
  <fieldset>
    <legend>New Survey</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">이름</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="이름을 써 주세요.">
      </div>
    </div>

    <div class="form-group">
      <label for="inputMajor" class="col-lg-2 control-label">전공</label>
      <div class="col-lg-10">
        <input type="major" class="form-control" id="inputPassword" placeholder="전공(거쳐왔던 모든 전공을 쓰세요. 항목은 띄어쓰기로 구분하시면 됩니다.)">
 		</div>
    </div>

	<div class="form-group">
      <label for="inputCarrer" class="col-lg-2 control-label">커리어(거쳐왔던 영역에 모두 체크해주세요.)</label>
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> 학부생</label>
          <label>
            <input type="checkbox"> 석사</label>
          <label>
            <input type="checkbox"> 박사</label>
          <label>
            <input type="checkbox"> 회사원</label>
          <label>
            <input type="checkbox"> 창업</label>
          <label>
            <input type="checkbox"> 프리랜서 </label>
        </div>
      </div>
    </div>
<!--     <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Radios</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Option one is this
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div> -->
<!--     <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div> -->

	<a href="">
	  <button class="btn btn-large btn-primary" type="button"> 다음 </button>
	 </a>


<a aria-controls="AdvancedOption" aria-expanded="false" data-toggle="collapse" href="#advanced_option" role="button">
	<h5 class="mt-20">
	+ <i class="fa fa-caret-down"></i>
	</h5>
</a>

<div class="panel panel-info"  id="advanced_option">
		<div class="panel-heading">
			<p class="alert alert-dismissible alert-info">추가 질문입니다. 원하시는 분만 작성하시면 됩니다.</p>
			<div class="panel-title">
      <label class="panel-body">현재 참여 중인 프로젝트에 추가 인원이 필요하십니까?</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            예
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            아니오
          </label>
        </div>
      </div>
    </div>


  </fieldset>
</form>